body {
  color: darkslategrey;
}

/* -------- RELATED ITEMS WIDGET -------- */
.card {
  color: darkslategrey;
  border-style: solid;
  border-width: 1px;
  border-color: darkslategrey;
}


.ratings-filters-container {
  width: 200px;
}
