body {
  color: darkslategrey;
}

/* -------- RELATED ITEMS WIDGET -------- */
.card {
  color: darkslategrey;
  border-style: solid;
  border-width: 1px;
  border-color: darkslategrey;
}

.cards-wrapper {
  display: flex;
  height: 25em;
  flex-direction: row;
}

.card-img-top {
  max-height: 15em;
  max-width: 100%;
  align-items: center;
}

.discounted-price-hidden {
  display: none;
}
