@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #525252;
  width: 1200px;
  margin: auto;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* -------- NAVIGATION BAR -------- */

#nav-bar {
  color: white;
  background-color: #525252;
  height: 75px;
  padding: 20px 28px;
  box-sizing: border-box;
}

#logo {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  text-decoration: underline;
}

#main-search {
  color: white;
  float: right;
}

#search-bar {
  color: white;
  background-color: #525252;
  border: none;
  border-bottom: 2px solid white;
  width: 120px;
  height: 30px;
}

#search-bar:focus {
  caret-color: white;
  outline: none;
}

.search-icon {
  cursor: pointer;
}

/* -------- ALERT BAR -------- */

#alert-bar {
  font-size: 14px;
  height: 45px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13px;
}

.alert::before {
  content: "\00a0\00a0\00a0";
}

.alert::after {
  content: "\00a0\00a0\00a0";
}

/* -------- PRODUCT DETAILS WIDGET -------- */

#product-detail-columns-container {
  width: 1200px;
  height: 600px;
  overflow: hidden;
}

#product-detail-photo-container {
  position: relative;
  height: 600px;
  float: left;
}

.photo-container-standard {
  width: 750px;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.photo-container-expanded {
  width: 1200px;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

#product-detail-text-container {
  width: 450px;
  height: 600px;
  padding: 20px;
  float: left;
  box-sizing: border-box;
}

.text-container-visible {
  display: block;
  -webkit-transition: display 300ms ease-in-out;
  -moz-transition: display 300ms ease-in-out;
  -o-transition: display 300ms ease-in-out;
  transition: display 300ms ease-in-out;
}

.text-container-hidden {
  display: none;
  -webkit-transition: display 300ms ease-in-out;
  -moz-transition: display 300ms ease-in-out;
  -o-transition: display 300ms ease-in-out;
  transition: display 300ms ease-in-out;
}

#product-photo-main {
  display: block;
  max-height: 600px;
  max-width: 750px;
  margin: auto;
}

#product-photo-icon-container {
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: scroll;
}

.product-photo-icon-frame {
  background-color: white;
  border: 1px solid #525252;
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

.product-photo-icon {
  background-color: white;
  display: block;
  max-height: 60px;
  max-width: 60px;
  margin: auto;
}

.arrow {
  z-index: 1;
  position: absolute;
  font-size: 20px;
  top: 300px;
  cursor: pointer;
}

#left-arrow {
  left: 120px;
}

#right-arrow {
  right: 50px;
}

#product-photo-expand {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

#product-description {
  clear: both;
  text-align: center;
  padding: 40px;
}

/* -------- RELATED ITEMS WIDGET -------- */

.carousel-wrapper {
  width: 1000px;
  padding-left: 60px;
}

.card {
  color: #525252;
  border-style: solid;
  border-width: 2px;
  border-color: #525252;
  min-height: 15rem;
  max-height: 15rem;
  width: auto;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
}

.card-img-top {
  max-width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  align-items: center;
  transition: transform 0.5s;
  z-index: -1;
  image-rendering: optimizeQuality;
}

.card-img-top:hover {
  transform: scale(1.5);
}

.action-button {
  position: absolute;
  color: lightgray;
  top: 5px;
  right: 5px;
  text-align: right;
  transition: color 1s, transform 0.3s;
}

.action-button:hover {
  transform: scale(1.2);
  color: #ffd500;
}

.discounted-price-hidden {
  display: none;
}


/*----------- RATINGS & REVIEWS WIDGET -----------*/

#reviews-ratings-container{
  position: relative;
  width: 1200px;
  margin-top: 50px;
}

#ratings-breakdown-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  width: 400px;
  float: left;
}

#review-list-container{
  position: absolute;
  margin-left: 420px;
  width: 600px;
  display: block;
  float: left;
}
#review-tile-container{
  border-bottom: 1px solid #525252;
}

#add-new-review{
  margin-top: 20px;
}

.ratings-filters-container {
  width: 300px;
}

#avg-rating,
#rating-filter-container {
  display: flex;
  flex-direction: row;
  /* check below - should move stars and progress bars to center vertically*/
  align-content: baseline space-between;
}

.review-photo{
  width: 50px; 
  height: 'auto';
}

.filter-elem{
  padding: 10px 0;
}

.progress-bar{
  background-color: #25b354;
}

.progress-gray {
  width: 150px;
  background-color: rgb(221, 217, 217);
}
.progress:hover {
  background-color: lightgray;
}
.review-response {
  background-color: lightgray;
  padding: 15px;
}
.link{
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.modal {
  max-height: calc(100vh - 210px);
  overflow-y: 'auto';
}

small{
  color: rgb(211, 211, 211);
}