@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');
$primary-color: #525252;
$secondary-color: #808080;
$tertiary-color: #d3d3d3;
$component-background-color: #f7f7f7;
$background-color: #ffffff;
$alert-color: #cc0000;

/* -------- BOOTSTRAP DEFAULT STYLES TO WATCH OUT FOR -------- */

* {
  box-sizing: border-box;
}

/* -------- GLOBAL -------- */

body {
  font-family: 'Open Sans', sans-serif;
  color: $primary-color;
  width: 1200px;
  margin: auto;
}

.main-action-button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid $primary-color;
  padding: 20px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.main-action-button-symbol {
  line-height: 16px;
  font-size: 22px;
}

.main-action-button-symbol-floated {
  float: right;
}

.main-action-dropdown {
  position: relative;
  display: inline-block;
}

.main-action-dropdown-content {
  display: none;
  position: absolute;
  background-color: $background-color;
  border: 1px solid $primary-color;
  left: -10px;
  top: 90px;
  width: inherit;
  border-radius: 3px;
  z-index: 5;
  max-height: 150px;
  margin-left: 10px;
  overflow: scroll;
}

.main-action-dropdown-content a {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.1px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.main-action-dropdown-content a:hover {
  background-color: $component-background-color;
}

.main-action-dropdown:hover .main-action-dropdown-content {
  display: block;
}

/* ---------TEMP WIDGET STYLER -------- */

.widget {
  margin: 50px 0px;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* -------- NAVIGATION BAR -------- */

#nav-bar {
  color: $background-color;
  background-color: $primary-color;
  height: 75px;
  padding: 20px 28px;
}

#logo {
  font-family: 'Kanit', sans-serif;
  font-size: 24px;
  text-decoration: none;
}

#main-search {
  color: $background-color;
  float: right;
}

#search-bar {
  color: $background-color;
  background-color: $primary-color;
  border: none;
  border-bottom: 2px solid $background-color;
  width: 120px;
  height: 30px;
}

#search-bar:focus {
  caret-color: $background-color;
  outline: none;
}

.search-icon {
  cursor: pointer;
}

/* -------- ALERT BAR -------- */

#alert-bar {
  font-size: 14px;
  height: 45px;
  text-align: center;
  padding-top: 13px;
}

.alert-bar-message::before {
  content: '\00a0\00a0\00a0';
}

.alert-bar-message::after {
  content: '\00a0\00a0\00a0';
}

/* -------- PRODUCT DETAILS WIDGET -------- */

#product-detail-columns-container {
  width: 1200px;
  height: 600px;
}

#product-detail-photo-container {
  position: relative;
  height: 600px;
  float: left;
  overflow: hidden;
}

.photo-container-standard {
  width: 750px;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.photo-container-expanded {
  width: 1200px;
  cursor: zoom-in;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.photo-container-zoom {
  width: 1200px;
  cursor: zoom-out;
}

#product-detail-text-container {
  width: 450px;
  height: 600px;
  padding: 30px 0px 30px 30px;
  float: left;
}

.text-container-visible {
  display: block;
  -webkit-transition: display 300ms ease-in-out;
  -moz-transition: display 300ms ease-in-out;
  -o-transition: display 300ms ease-in-out;
  transition: display 300ms ease-in-out;
}

.text-container-hidden {
  display: none;
  -webkit-transition: display 300ms ease-in-out;
  -moz-transition: display 300ms ease-in-out;
  -o-transition: display 300ms ease-in-out;
  transition: display 300ms ease-in-out;
}

#product-photo-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 600px;
  max-width: 750px;
  margin: auto;
}

#product-photo-icon-container {
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: scroll;
}

.product-photo-icon {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 1px solid $primary-color;
  height: 57px;
  width: 57px;
  margin-bottom: 20px;
  cursor: pointer;
  box-sizing: content-box;
}

#selected-photo-bar {
  position: absolute;
  top: 64px;
  left: 0px;
  background-color: $primary-color;
  width: 62px;
  height: 4px;
}

.photo-selector-arrows {
  z-index: 1;
  position: absolute;
  font-size: 20px;
  top: 300px;
  cursor: pointer;
}

#left-arrow {
  left: 120px;
}

#right-arrow {
  right: 50px;
}

.photo-selector-chevrons {
  z-index: 1;
  position: absolute;
  font-size: 20px;
  left: 51px;
  cursor: pointer;
}

#up-chevron {
  top: -5px;
}

#down-chevron {
  bottom: 7px;
}

#product-photo-expand {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

#reviews-link {
  color: $primary-color;
  font-size: 12px;
  text-decoration: underline;
  margin-left: 7px;
}

#product-category {
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: 0.4px;
}

#product-name {
  font-size: 36px;
  font-weight: bold;
}

#product-price {
  margin-top: 10px;
}

#overridden-price {
  color: $alert-color;
  text-decoration: line-through;
  margin-right: 8px;
}

#styles-menu-4-across {
  margin-top: 25px;
  width: 340px;
  height: 205px;
}

#styles-menu-5-across {
  margin-top: 25px;
  width: 430px;
  height: 205px;
}

#styles-menu-heading {
  letter-spacing: 0.4px;
}

.product-style-icon {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 1px solid $primary-color;
  float: left;
  height: 60px;
  width: 60px;
  margin: 12.5px 25px 12.5px 0px;
  border-radius: 50%;
  cursor: pointer;
}

#selected-style-checkmark-frame {
  background-color: $background-color;
  border: 1px solid $primary-color;
  position: absolute;
  left: 45px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

#selected-style-checkmark {
  position: absolute;
  top: -6px;
  left: 45px;
}

#size-selector {
  width: 245px;
  margin-top: 25px;
  margin-right: 25px;
}

#quantity-selector {
  width: 130px;
  margin-top: 25px;
}

#add-to-bag-button {
  width: 310px;
  margin-top: 25px;
  margin-right: 25px;
}

#bag-error {
  color: $alert-color;
  font-size: 14px;
  padding-top: 10px;
}

#favorite-button {
  width: 65px;
  margin-top: 25px;
}

#product-notes {
  display: inline-block;
  clear: both;
  text-align: center;
  margin: 50px 120px 0px 120px;
}

#product-description {
  font-size: 14px;
  text-align: left;
  width: 650px;
  padding-right: 10px;
  float: left;
}

#product-slogan {
  font-size: 18px;
  padding-bottom: 10px;
}

#product-features {
  border-left: 2px solid $primary-color;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  min-height: 90px;
  width: 294px;
  padding-left: 10px;
  float: left;
}

.product-features-checkmark {
  font-size: 32px;
}

/* -------- RELATED ITEMS WIDGET -------- */

.related-products-container {
  margin-bottom: 16px;
}

.carousel-wrapper {
  width: 1000px;
  height: 25rem;
  padding-left: 60px;
  padding-top: 16px;
}

.products-card {
  color: $primary-color;
  border: solid 2px $primary-color;
  height: 95%;
  width: 15rem;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 15rem;
  max-height: 15rem;
}

.related-card-body {
  transition: color 0.5s;
}

.related-card-body:hover {
  cursor: pointer;
  font-weight: bold;
  color: $secondary-color;
}

.card-img-top {
  min-width: 236px;
  max-width: 354px;
  min-height: 240px;
  max-height: 360px;
  align-items: center;
  transition: transform 0.5s;
  z-index: -1;
  image-rendering: optimizeQuality;
}

.product-card-title {
  margin-bottom: 5px;
}

.product-card-subtitle {
  font-size: 14px;
  margin-bottom: 3px;
  color: $secondary-color;
}

.card-img-top:hover {
  transform: scale(1.5);
}

.stars-body {
  padding-bottom: 15px;
}

.action-button {
  position: absolute;
  color: $tertiary-color;
  top: 5px;
  right: 5px;
  text-align: right;
  transition: color 1s, transform 0.3s;
}

.action-button:hover {
  transform: scale(1.2);
  color: #ffd500;
}

.discounted-price-hidden {
  display: none;
}

.main-price-display {
  font-size: 14px;
  color: $secondary-color;
}

#close-button-card {
  width: 100px;
  margin-left: 200px;
  margin-bottom: 16px;
}

.close-card-modal {
  max-width: 100px;
  text-align: center;
  margin-bottom: 16px;
}

ul.characteristics {
  white-space: nowrap;
  text-align: left;
  padding: 0;
  padding-top: 11px;
  margin-bottom: 15px;
  font-size: 14px;
}

.show-grid {
  width: 480px;
  padding-top: 45px;
}

.product-features-checkmark-hidden {
  visibility: hidden;
}

.characteristics-icon {
  min-height: 32px;
  text-align: center;
  padding-left: 0;
}

.product-card-modal-title {
  font-size: 14px;
  position: absolute;
  top: 3px;
  left: 12px;
  padding-left: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-md-4 {
  text-align: center;
  overflow-x: scroll;
}

.card-compare-modal-body {
  overflow-y: scroll;
}

/* -------- YOUR OUTFIT -------- */

.add-outfit-base-card {
  min-width: 240px;
  width: 240px;
  height: 373.2px;
  color: $primary-color;
  border-style: solid;
  border-width: 2px;
  border-color: $primary-color;
  position: relative;
  margin-top: 16px;
  margin-left: 100px;
  transition: border-color 0.3s;
}

.add-outfit-base-card:hover {
  border-style: solid;
  border-color: $secondary-color;
  cursor: pointer;
}

.add-outfit-base-card:hover #big-plus-sign {
  fill: $secondary-color;
}

#big-plus-sign {
  position: absolute;
  left: 70px;
  top: 130px;
  fill: $primary-color;
  transition: fill 1s;
}

.your-outfit-container {
  display: flex;
}

.outfit-carousel-wrapper {
  width: 647px;
  height: 25rem;
  margin-top: 16px;
  margin-left: 12px;
}

.action-button-outfit {
  position: absolute;
  color: $tertiary-color;
  top: 5px;
  right: 5px;
  text-align: right;
  transition: transform 0.3s, color 0.5s;
}

.action-button-outfit:hover {
  transform: scale(1.2);
  color: $alert-color;
  cursor: pointer;
}

.hzJOec {
  left: -16px;
}

/* -------- QA WIDGET -------- */

.question {
  margin: 20px 0px;
}

/*----------- RATINGS & REVIEWS WIDGET -----------*/

#reviews-ratings-container {
  position: relative;
  width: 1200px;
  margin-top: 50px;
}

#ratings-breakdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  float: left;
}

#review-list-container {
  position: absolute;
  margin-left: 380px;
  width: 750px;
  display: block;
  float: left;
}

.scroll {
  height: calc(600px + 0.5vw);
  overflow: auto;
  text-align: justify;
}

#review-tile-container {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $primary-color;
}

#review-name-and-date {
  float: right;
}

#review-summary {
  padding-top: 10px;
}

.review-button {
  width: 200px;
  background-color: $background-color;
  margin-bottom: 30px;
}

.inline-display {
  display: inline;
}

#sort-by {
  margin: 5px;
  padding: 5px;
}

#upload-photos-modal-button {
  width: 300px;
}

.ratings-filters-container {
  width: 300px;
}

#avg-rating {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-content: baseline space-between;
}

#rating-filter-container {
  clear: both;
  width: 300px;
}

.rating-filter-background {
  width: 100px;
  height: 8px;
  background: $tertiary-color;
  display: inline-block;
}

.rating-filter-filler {
  height: 8px;
  background-color: $primary-color;
}

.characteristic-background {
  width: 300px;
  height: 8px;
  background: $tertiary-color;
}

.characteristic-filler {
  height: 8px;
  background-color: $tertiary-color;
  position: relative;
}

.characteristic-filler > .characteristic-icon {
  z-index: 0;
  float: right;
  height: 24px;
  padding-top: 0;
  margin-top: 0;
}

.star-rating-filter-elem {
  padding: 0 20px;
}

.star-rating-filter-number {
  padding-right: 20px;
}

.star-rating-filter-elem:hover {
  text-decoration: underline;
  color: $primary-color;
}

.review-photo {
  width: 70px;
  height: 'auto';
  padding: 5px 10px;
}

small {
  color: $secondary-color;
  padding-left: 10px;
}

.characteristic-filter-elem {
  display: block;
}

#characteristic-rating-container
  > .characteristic-filter-elem
  > .characteristic-scale-item:first-child {
  // float:left;
  // width: 60px;
  display: inline;
}

#characteristic-rating-container
  > .characteristic-filter-elem
  > .characteristic-scale-item:last-child {
  float: right;
}

.progress-rating {
  width: 150px;
  background-color: $tertiary-color;
}

.progress-characteristic {
  width: 270px;
  background-color: $tertiary-color;
  position: relative;
}

.characteristic-icon {
  z-index: 0;
  float: center;
  overflow: visible;
  height: 150%;
}

.review-response {
  background-color: $tertiary-color;
  padding: 15px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.new-review-modal {
  max-height: calc(120vh - 210px);
  overflow-y: 'auto';
}

.allCards {
  max-height: 60vh;
  overflow: auto;
}

.qa-button {
  color: $primary-color;
  background-color: $background-color;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid $primary-color;
}

.qa-button:hover {
  color: $background-color;
  background-color: $primary-color;
}

.qamodals {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: $primary-color;
}

.helpful-wrapper {
  font-size: 12px;
  display: inline;
}

.helpful-wrapper a {
  cursor: pointer;
}

.qa-div {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: $primary-color;
}

/* -------- FOOTER -------- */

.footer-section {
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 14px;
  color: $primary-color;
}

.footer-admin {
  font-size: 12px;
  margin-right: 8px;
  text-decoration: underline;
  transition: color 0.5s;
}

.footer-admin:hover {
  color: $secondary-color;
  cursor: pointer;
}

#footer-close-button-card {
  width: 100px;
  margin-left: 350px;
  margin-bottom: 16px;
}

.footer-element-clicked {
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

.footer-modal-body {
  max-height: 700px;
  overflow-y: auto;
}

.footer-modal-title {
  margin-left: 15px;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-data-row {
  margin-bottom: 8px;
}

.widget-headings {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
}
