@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #525252;
  width: 1200px;
  margin: auto;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* -------- NAVIGATION BAR -------- */

#nav-bar {
  color: white;
  background-color: #525252;
  height: 75px;
  padding: 20px 28px;
  box-sizing: border-box;
}

#logo {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  text-decoration: underline;
}

#main-search {
  color: white;
  float: right;
}

#search-bar {
  color: white;
  background-color: #525252;
  border: none;
  border-bottom: 2px solid white;
  width: 120px;
  height: 30px;
}

#search-bar:focus {
  caret-color: white;
  outline: none;
}

.search-icon {
  cursor: pointer;
}

/* -------- ALERT BAR -------- */

#alert-bar {
  font-size: 14px;
  height: 45px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13px;
}

.alert::before {
  content: "\00a0\00a0\00a0";
}

.alert::after {
  content: "\00a0\00a0\00a0";
}

/* -------- PRODUCT DETAILS WIDGET -------- */

#product-detail-photo-container {
  position: relative;
  width: 750px;
  height: 600px;
  float: left;
}

#product-detail-text-container {
  width: 450px;
  height: 600px;
  padding: 20px;
  float: left;
  box-sizing: border-box;
}

#product-photo-main {
  display: block;
  max-height: 600px;
  max-width: 750px;
  margin: auto;
}

#product-photo-icon-container {
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: scroll;
}

.product-photo-icon-frame {
  background-color: white;
  border: 1px solid #525252;
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

.product-photo-icon {
  background-color: white;
  display: block;
  max-height: 60px;
  max-width: 60px;
  margin: auto;
}

.arrow {
  z-index: 1;
  position: absolute;
  font-size: 20px;
  top: 300px;
  cursor: pointer;
}

#left-arrow {
  left: 120px;
}

#right-arrow {
  right: 50px;
}

#product-photo-expand {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

/* -------- RELATED ITEMS WIDGET -------- */

.card {
  color: #525252;
  border-style: solid;
  border-width: 2px;
  border-color: #525252;
  min-height: 15rem;
  max-height: 15rem;
  width: auto;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
}

.card-img-top {
  max-width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  align-items: center;
  transition: transform 0.5s;
  z-index: -1;
  image-rendering: optimizeQuality;
}

.card-img-top:hover {
  transform: scale(1.5);
}

.action-button {
  position: absolute;
  color: lightgray;
  top: 5px;
  right: 5px;
  text-align: right;
  transition: color 1s, transform 0.3s;
}

.action-button:hover {
  transform: scale(1.2);
  color: #ffd500;
}

.discounted-price-hidden {
  display: none;
}
