@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #525252;
  width: 1200px;
  margin: auto;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* -------- NAVIGATION BAR -------- */

#logo {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  text-decoration: underline;
}

#nav-bar {
  color: white;
  background-color: #525252;
  height: 75px;
  padding: 20px 28px;
  box-sizing: border-box;
}

#search-bar {
  color: white;
  background-color: #525252;
  border: none;
  border-bottom: 2px solid white;
  width: 120px;
  height: 30px;
}

#search-bar:focus {
  caret-color: white;
  outline: none;
}

#main-search {
  color: white;
  float: right;
}

.search-icon {
  cursor: pointer;
}

/* -------- ALERT BAR -------- */

#alert-bar {
  font-size: 14px;
  height: 45px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13px;
}

.alert::before {
  content: "\00a0\00a0\00a0";
}

.alert::after {
  content: "\00a0\00a0\00a0";
}

/* -------- PRODUCT DETAILS WIDGET -------- */

#main-product-photo-container {
  width: 750px;
  height: 600px;
  float: left;
}

#main-product-text-container {
  width: 450px;
  height: 600px;
  float: left;
}

#main-product-photo {
  display: block;
  max-height: 600px;
  max-width: 750px;
  margin: auto;
}

/* -------- RELATED ITEMS WIDGET -------- */
.card {
  color: #525252;
  border-style: solid;
  border-width: 1px;
  border-color: #525252;
}

.cards-wrapper {
  display: flex;
  height: 25em;
  flex-direction: row;
}

.card-img-top {
  max-height: 15em;
  max-width: 100%;
  align-items: center;
}
