body {
  color: darkslategrey;
}

/* -------- RELATED ITEMS WIDGET -------- */
.card {
  color: darkslategrey;
  border-style: solid;
  border-width: 1px;
  border-color: darkslategrey;
}

.cards-wrapper {
  display: flex;
}
