@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');

/* -------- BOOTSTRAP DEFAULT STYLES TO WATCH OUT FOR -------- */

* {
  box-sizing: border-box;
}

/* -------- GLOBAL -------- */

body {
  font-family: 'Open Sans', sans-serif;
  color: #525252;
  width: 1200px;
  margin: auto;
}

.main-action-button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #525252;
  padding: 20px;
  letter-spacing: 0.4px;
}

.main-action-button-symbol {
  line-height: 16px;
  font-size: 22px;
}

.main-action-button-symbol-floated {
  float: right;
}

/* ---------TEMP WIDGET STYLER -------- */

.widget {
  margin: 100px 0px;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* -------- NAVIGATION BAR -------- */

#nav-bar {
  color: white;
  background-color: #525252;
  height: 75px;
  padding: 20px 28px;
}

#logo {
  font-family: 'Kanit', sans-serif;
  font-size: 24px;
  text-decoration: underline;
}

#main-search {
  color: white;
  float: right;
}

#search-bar {
  color: white;
  background-color: #525252;
  border: none;
  border-bottom: 2px solid white;
  width: 120px;
  height: 30px;
}

#search-bar:focus {
  caret-color: white;
  outline: none;
}

.search-icon {
  cursor: pointer;
}

/* -------- ALERT BAR -------- */

#alert-bar {
  font-size: 14px;
  height: 45px;
  text-align: center;
  padding-top: 13px;
}

.alert-bar-message::before {
  content: '\00a0\00a0\00a0';
}

.alert-bar-message::after {
  content: '\00a0\00a0\00a0';
}

/* -------- PRODUCT DETAILS WIDGET -------- */

#product-detail-columns-container {
  width: 1200px;
  height: 600px;
  overflow: hidden;
}

#product-detail-photo-container {
  position: relative;
  height: 600px;
  float: left;
}

.photo-container-standard {
  width: 750px;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.photo-container-expanded {
  width: 1200px;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

#product-detail-text-container {
  width: 450px;
  height: 600px;
  padding: 30px 0px 30px 30px;
  float: left;
}

.text-container-visible {
  display: block;
  -webkit-transition: display 300ms ease-in-out;
  -moz-transition: display 300ms ease-in-out;
  -o-transition: display 300ms ease-in-out;
  transition: display 300ms ease-in-out;
}

.text-container-hidden {
  display: none;
  -webkit-transition: display 300ms ease-in-out;
  -moz-transition: display 300ms ease-in-out;
  -o-transition: display 300ms ease-in-out;
  transition: display 300ms ease-in-out;
}

#product-photo-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 600px;
  max-width: 750px;
  margin: auto;
}

#product-photo-icon-container {
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: scroll;
}

.product-photo-icon {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 1px solid #525252;
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
  cursor: pointer;
  box-sizing: content-box;
}

#selected-photo-bar {
  position: absolute;
  top: 64px;
  left: 0px;
  background-color: #525252;
  width: 62px;
  height: 4px;
}

.arrow {
  z-index: 1;
  position: absolute;
  font-size: 20px;
  top: 300px;
  cursor: pointer;
}

#left-arrow {
  left: 120px;
}

#right-arrow {
  right: 50px;
}

#product-photo-expand {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

#reviews-link {
  color: #525252;
  font-size: 12px;
  text-decoration: underline;
  margin-left: 7px;
}

#product-category {
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: 0.4px;
}

#product-name {
  font-size: 36px;
  font-weight: bold;
}

#product-price {
  margin-top: 10px;
}

#styles-menu {
  margin-top: 25px;
}

#styles-menu-heading {
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

#product-style-icon-container {
  width: 340px;
  height: 145px;
}

.product-style-icon {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 1px solid #525252;
  float: left;
  height: 60px;
  width: 60px;
  margin: 12.5px 25px 12.5px 0px;
  border-radius: 50%;
  cursor: pointer;
}

#selected-style-checkmark-frame {
  background-color: white;
  border: 1px solid #525252;
  position: absolute;
  left: 45px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

#selected-style-checkmark {
  position: absolute;
  top: -6px;
  left: 45px;
}

#size-selector {
  width: 245px;
  margin-top: 25px;
  margin-right: 25px;
}

#quantity-selector {
  width: 130px;
  margin-top: 25px;
}

#add-to-bag-button {
  width: 310px;
  margin-top: 25px;
  margin-right: 25px;
}

#favorite-button {
  width: 65px;
  margin-top: 25px;
}

#product-notes {
  display: inline-block;
  clear: both;
  text-align: center;
  margin: 55px 120px;
}

#product-description {
  font-size: 14px;
  text-align: left;
  width: 665px;
  float: left;
}

#product-slogan {
  font-size: 18px;
  padding-bottom: 10px;
}

#product-features {
  border-left: 2px solid #525252;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  width: 294px;
  padding-left: 10px;
  float: left;
}

.product-features-checkmark {
  font-size: 32px;
}

/* -------- RELATED ITEMS WIDGET -------- */

.carousel-wrapper {
  width: 1000px;
  height: 25rem;
  padding-left: 60px;
  padding-top: 16px;
}

.products-card {
  color: #525252;
  border-style: solid;
  border-width: 2px;
  border-color: #525252;
  height: 95%;
  width: 15rem;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 15rem;
  max-height: 15rem;
}

.card-img-top {
  width: 15rem;
  height: auto;
  align-items: center;
  transition: transform 0.5s;
  z-index: -1;
  image-rendering: optimizeQuality;
}

.card-img-top:hover {
  transform: scale(1.5);
}

.stars-body {
  padding-bottom: 15px;
}

.action-button {
  position: absolute;
  color: lightgray;
  top: 5px;
  right: 5px;
  text-align: right;
  transition: color 1s, transform 0.3s;
}

.action-button:hover {
  transform: scale(1.2);
  color: #ffd500;
}

.discounted-price-hidden {
  display: none;
}

.modal-content {
  align-items: center;
}

.close-card-modal {
  max-width: 100px;
  text-align: center;
  margin-bottom: 16px;
}

ul.characteristics {
  white-space: nowrap;
  text-align: left;
  padding: 0;
  padding-top: 11px;
  margin-bottom: 15px;
  font-size: 14px;
}

.show-grid {
  width: 480px;
  padding-top: 45px;
}

.product-features-checkmark-hidden {
  visibility: hidden;
}

.characteristics-icon {
  min-height: 32px;
  text-align: center;
  padding-left: 0;
}

.modal-title {
  font-size: 14px;
  position: absolute;
  top: 3px;
  left: 12px;
  padding-left: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-md-4 {
  text-align: center;
}

/* -------- QA WIDGET -------- */

.question {
  margin: 20px 0px;
}

/*----------- RATINGS & REVIEWS WIDGET -----------*/

#reviews-ratings-container {
  position: relative;
  width: 1200px;
  margin-top: 50px;
}

#ratings-breakdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  float: left;
}

#review-list-container {
  position: absolute;
  margin-left: 420px;
  width: 700px;
  display: block;
  float: left;
}

.scroll {
  height: 85vh;
  overflow: auto;
  text-align: justify;
}

#review-tile-container {
  border-bottom: 1px solid #525252;
}

#add-new-review {
  margin-top: 20px;
}

.review-button {
  width: 200px;
  background-color: white;
}

#upload-photos-modal-button{
  width: 300px;
}

#sort-by{
  margin:5px;
  padding: 5px;
}

.ratings-filters-container {
  width: 300px;
}

#avg-rating,
#rating-filter-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-content: baseline space-between;
}

.filter-elem{
  padding: 0 5px;
}

.filter-elem:hover{
  text-decoration: underline;
  color: gray;
}

.review-photo {
  width: 70px;
  height: 'auto';
  padding: 5px 10px;
}

small {
  color: rgb(148, 148, 148);
  padding-left: 10px;
}

#ratings-breakdown-container > span > small {
  font: 100px;
}

#characteristic-rating-container > small > span:first-child {
  padding-left: 20px;
}

#characteristic-rating-container > small > span:last-child {
  padding-left: 80px;
}

.progress-bar {
  background-color: #25b354;
}

.progress-rating {
  width: 150px;
  background-color: rgb(221, 217, 217);
}

.progress-characteristic {
  width: 270px;
  background-color: rgb(221, 217, 217);
  position: relative;
}
.characteristic-icon{
  z-index: 0;
  float: center;
  overflow: visible;
  height:150%;
}

.progress:hover {
  background-color: lightgray;
}

.review-response {
  background-color: lightgray;
  padding: 15px;
}
.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.modal {
  max-height: calc(100vh - 210px);
  overflow-y: 'auto';
}
